src/Kunstmaan/AdminBundle/Resources/config/schema/admin-1.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns="https://cms.kunstmaan.be/schema/dic/admin"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="https://cms.kunstmaan.be/schema/dic/admin"
    elementFormDefault="qualified">

    <xsd:element name="config" type="config" />

    <xsd:complexType name="config">
        <xsd:sequence>
            <xsd:element name="admin-locale" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="admin-locale" type="xsd:string" />
        <xsd:attribute name="default-admin-locale" type="xsd:string" />
    </xsd:complexType>

</xsd:schema>
